@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
}

/* Shared styles */

.display-flex {
    display: flex;
}

/* Nav related styles */

.navbar .nav-title {
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

